body {
  width: 100%;
}

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#char-list {
  width: 25%;
}

.char-img {
  width: 50%;
}

#right {
  width: 40%;
}

.hidden {
  display: none;
}